<body>
    <div class="frm1">

<form  #form="ngForm" (ngSubmit)="onSubmit(form.value)">
<div class="form1">
    <i class="bi bi-person-fill" ></i>
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(199, 229, 247)" class="bi bi-person-fill" viewBox="0 0 16 16" style="margin-left: 150px;">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
    <h2>Create Account</h2>
    <div class="form-group">
        <input type="text" name="uname" #name='ngModel' ngModel placeholder="Enter Your Name" required minlength="4" maxlength="20"/>
        <div class="alert alert-danger" *ngIf= "name.invalid && name.touched">
    
            <div *ngIf= "name.errors?.['required']">Enter Name</div>
            <div *ngIf= "name.errors?.['pattern']">Name should be minimum 4 letters</div>
        </div>
        </div> 
    <div class="form-group">
    <input type="email" name="uemail" #email='ngModel' ngModel placeholder="Enter Valid Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
    <div class="alert alert-danger" *ngIf= "email.invalid && email.touched">

        <div *ngIf= "email.errors?.['required']">Enter Email</div>
        <div *ngIf= "email.errors?.['pattern']">Enter Email in valid pattern</div>
    </div>
    </div>

    <div class="form-group">
        <input type="text" name="urole" #role='ngModel' ngModel placeholder="Enter Your Role" required />
        <div class="alert alert-danger" *ngIf= "role.invalid && role.touched">
            <div *ngIf= "role.errors?.['required']">Enter Role</div>
        </div>
        </div>

    <div class="form-group"> 
    <input type="password" name="upass"  #pass='ngModel' minlength="5"  ngModel placeholder="Enter Password" required pattern=""/><br>
    <div class="alert alert-danger" *ngIf= "pass.invalid && pass.touched">

        <div *ngIf= "pass.errors?.['required']">Enter Password</div>
        <div *ngIf= "pass.errors?.['pattern']">Must contain letters (both uppercase and lowercase) and numbers</div>
    </div>   
</div>

<div class="form-group"> 
    <input type="cpassword" name="cpass"  #pass='ngModel' minlength="5"  ngModel placeholder="Confirm Password" required pattern=""/><br>
    <div class="alert alert-danger" *ngIf= "pass.invalid && pass.touched">

        <div *ngIf= "pass.errors?.['required']">Enter Password</div>
        <div *ngIf= "pass.errors?.['pattern']"></div>
    </div>   
</div>

    <div>
    <button class="btn" type="submit"  id="lg">Create</button>
    <button class="btn1"><a routerLink="">Cancel</a></button>
    </div>
</div>
</form>
</div>
</body>