body{
    min-height:100vh;
    width: 100%;   
    background-image:url('../../assets/bcity.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.form{
    position: absolute;
    max-width: 350px;
    background:linear-gradient(to top,rgba(0,0,0,0.7)50%,rgba(0,0,0,0.7)50%);
    top: 150px;
    left: 600px;
    border-radius: 15px;
    padding: 25px;
    padding-bottom: 100px;
}
.form h2{
    color: rgb(199, 229, 247);
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
    
}
.btn{
    width: 300px;
    height: 40px;
    text-align: center;
    border: none;
    margin-top: 25px;
    background-color: rgb(179, 177, 176);
    padding: 5px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    
} 
#b{
    color: rgb(3, 3, 3);
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer; 
    
}
.btn:hover{
    background:white;
    color: rgb(15, 13, 13);
  
}
.form input{
   width: 300px;
   color: white;
   height: 35px;
   font-family: sans-serif;
   background: transparent;
   border-bottom: 1px solid rgb(156, 155, 154);
   border-top: none;
   border-left: none;
   border-right: none;
   font-size: 15px;
   letter-spacing: 1px;
   margin-top: 20px;
   /* margin-bottom: 10px; */
   
}
.form .ac{
   position: absolute;
   color: white;
   font-family:  Arial;
   padding-top: 20px;
   text-align:center;
   margin-left: 72px;
}
.form .ac a{
  
    text-align: center;
    text-decoration: none;
    color:rgb(241, 149, 133);
    margin-top: 10px;
    margin-left:7px;
    transition: 0.4s ease-in-out;
}
.form .ac a:hover{
    color: rgb(115, 197, 245);
}
.form input:focus{
    
    outline:none;
}
::placeholder{
    color: rgb(231, 224, 224);
}