
<body>
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="index.html">
                    <i class="bi bi-person-circle" ></i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16" >
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
          <span></span></a></h1>&nbsp;
        <h1 class="logo"><a href="index.html"><span>Welcome&nbsp;Admin</span></a></h1>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto " [routerLink]="['/adminlead']" >Lead</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/admin']">Opportunity</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/admin']">Account</a></li>
            <li><a class="nav-link scrollto " [routerLink]="['/admin']">Employee</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/admin']">Task</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['']"  >LOGOUT</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
  
      </div>
    </header>
</body>